@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin custom-scroll(
  $track-color: var(--border-color),
  $thumb-color: var(--secondary-color),
  $width: 4px,
) {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    border: none;
    background: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $width / 2;
    background: $thumb-color;
  }
}